/* ARTICLE */
.articleContainer {
  padding: 0 20px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 60px;
}

.articleContainer:hover {
  background-color: #fafafa;
}

.articleContainer:hover .articleRightContainer .articleDelete i {
  display: inline-block;
}

.articleContainer .articleLeftContainer {
  display: flex;
  width: 90%;
  font-size: 13px;
  cursor: pointer;
  font-weight: bold;
  height: 100%;
  align-items: center;
}

.articleContainer .articleLeftContainer .articleTitle {
  margin-right: 10px;
  color: #333;
}

.articleContainer .articleLeftContainer .articleAuthor {
  color: #999;
}

.articleContainer .articleRightContainer {
  display: flex;
  width: 10%;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.articleContainer .articleRightContainer .articleDate {
  color: #333;
  font-size: 13px;
  font-weight: bold;
}

.articleContainer .articleRightContainer .articleDelete i {
  cursor: pointer;
  display: none;
}
/* END ARTICLE */
