/* GENERAL STYLES */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Comic Neue', sans-serif;
  margin: 0;
  color: #000;
  font-size: 16px;
}
/* END GENERAL STYLES */

/* JUMBOTRON */
#jumbotron {
  background-color: #000000;
  color: #ffffff;
  height: 250px;
}
.titleContainer {
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.titleContainer .title {
  font-weight: 700;
  font-size: 80px;
}
.titleContainer .subtitle {
  font-size: 25px;
}
/* END JUMBOTRON */

/* CONTENT */
#content {
  padding: 0 50px;
  display: flex;
  justify-content: center;
}
.error {
  color: #ff0000;
  font-weight: bold;
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 25px;
}

.articles {
  width: 100%;
}
/* END CONTENT */
